<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="admin">
<head>
    <div th:include="top :: header" th:remove="tag"></div>

    <title>Hello World!</title>
    <script src="/cdn/js/admin-controller.js"></script>
</head>
<body ng-controller="adminuser">
<div th:include="top :: menu" th:remove="tag"></div>
<div class="container-fluid">
    <div class="starter-template">
        <h1>Users</h1>
        <table class="table table-striped">
            <tr ng-repeat="ud in userdata">
                <td>{{ud.userid}}</td>
                <td><a href="/admin/user?name={{ud.userName}}">{{ud.userName}}</a></td>
                <td>{{ud.email}}</td>
                <td>{{ud.enabled}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>