<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="admin">
<head>
    <div th:include="top :: header" th:remove="tag"></div>

    <title>Hello World!</title>
    <script src="/cdn/js/admin-controller.js"></script>
</head>
<body ng-controller="adminuser">
<div th:include="top :: menu" th:remove="tag"></div>
<div class="container-fluid">
    <div class="starter-template">
        <h1>New user</h1>
<form method="post" action="/api/users/create">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email"/>
        </div>
    <input type="submit" />
</form>
    </div>
</div>
</body>
</html>