<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      ng-app="password">
<head>
    <div th:include="top :: header" th:remove="tag"></div>
    <title>Hello World!</title>
    <script src="/cdn/js/admin-controller.js"></script>
</head>
<body ng-controller="user">
<div th:include="top :: menu" th:remove="tag"></div>
<div class="container-fluid">
    <div class="starter-template">
        <h1>Change Password</h1>
        <fieldset>
            <div class="form-group">
                <label for="old_pass">Old Password</label>
                <input type="password" class="form-control" name="old_pass" id="old_pass"/>
            </div>
            <div class="form-group">
                <label for="new_pass">New Password</label>
                <input type="password" class="form-control" name="new_pass" id="new_pass" ng-model="password"/>
            </div>
            <div class="form-group">
                <label for="verify_pass">Verify Password</label>
                <input type="password" class="form-control" name="verify_pass" id="verify_pass"/>
            </div>
            <div class="form-group">
                <input type="button" name="submit" id="submit" value="change password" class="btn btn-primary" ng-click="changePass()"/>
            </div>

        </fieldset>

    </div>
</div>
</body>
</html>