<div th:fragment="footer">
    <div class="row footer">
        <div class="col-sm-4">
            <h3>Soccial</h3>
            <ul>
                <li><a th:href="@{/login}">login</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Information</h3>
            <ul>
                <li><a th:href="@{/login}">login</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>Navigate</h3>
            <ul>
                <li><a th:href="@{/login}">login</a></li>
            </ul>
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12">
            Improve this: https://www.orbitmedia.com/blog/website-footer-design-best-practices/
        </div>
    </div>
</div>