<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="top :: header" th:remove="tag"></div>
    <title>Hello World!</title>
</head>
<body>
<div th:include="top :: menu" th:remove="tag"></div>

<div class="container-fluid">
    <div class="starter-template">
        <div class="well">

        <h1>User Information <small>Information about the user in this well</small></h1>
        <p>Has Role:</p>
        <li sec:authorize="hasRole('ROLE_USER')"><a href="/user">User CP</a></li>
            <div class="row">
           <div class="col-md-2 col-md-offset-5"><a href="/login" class="btn btn-primary btn-lg">Login</a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>