<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/hello">Hello</a></li>
    <li><a href="/login">login</a></li>
</ul>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

Logged user: <span sec:authentication="name">Bob</span>


<li sec:authorize="hasRole('ROLE_USER')"><a href="/user">User CP</a></li>

<div sec:authentication="name">
    The value of the "name" property of the authentication object should appear here.
</div>

<div sec:authorize="hasAuthority('USER')" > Has Authority USER </div>

<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to administrators.
</div>

</body>
</html>