<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="top :: header" th:remove="tag"></div>
    <title>Spring Security Example</title>
</head>
<body>
<div th:include="top :: menu" th:remove="tag"></div>

<div class="container-fluid">
    <div class="starter-template">
        <h1></h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

        Logged user: <span sec:authentication="name">Bob</span>


        <li sec:authorize="hasRole('ROLE_USER')"><a href="/user">User CP</a></li>

        <div sec:authentication="name">
            The value of the "name" property of the authentication object should appear here.
        </div>

        <div sec:authorize="hasAuthority('USER')"> Has Authority USER</div>

        <div sec:authorize="hasRole('ROLE_USER')">
            This content is only shown to administrators.
        </div>
    </div>
</div>
</body>
</html>