<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="top :: header" th:remove="tag"></div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Forgotten password reset</title>
</head>
<body>
<div th:include="top :: menu" th:remove="tag"></div>

<div class="container-fluid">
    <div class="starter-template">
<form action="/login/validate" method="post">
        <div class="g-recaptcha" data-sitekey="6LevxTMUAAAAAEhDTmmCZhbio6SFovp2qpXiBWRE"></div>
    <button class="btn btn-primary" action="submit">Reset Password</button>
</form>
    </div>
</div>
</body>
</html>