<!DOCTYPE html>
<html layout:decorate="~{task/layout}"    xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Forgotten password reset</title>
</head>
<body>


<div layout:fragment="content">
    <div class="starter-template">
        <form action="/login/validate" method="post">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="exampleInputEmail1" placeholder="Email" />
            </div>
            <div class="g-recaptcha" data-sitekey="6LevxTMUAAAAAEhDTmmCZhbio6SFovp2qpXiBWRE"></div>
            <button class="btn btn-primary" action="submit">Reset Password</button>
        </form>
    </div>
</div>
</body>
</html>